{% extends 'base.html' %}
{% block content %}
<h1>{% block title %} Коментарии {% endblock %}</h1>
<div style="width: 50%;margin: auto">
    <link href="/static/css/main.css" rel="stylesheet">
    {% for comment in comments %}
    {% if loop.index != 2 %}
    <div style="padding: 10px;background-color: #EEE;margin: 20px">
        <p>#{{ loop.index }}</p>
        <p style="font-size: 24px">{{ comment | upper }}</p>
    </div>
    {% endif %}
    {% endfor %}
    <hr>
    <div>
            {{ "<h1>COMMENTS</h1>" | safe }}
            <p>{{ comments | join(" </p><hr> ") | safe }}<p></p>
    </div>
</div>
{% endblock %}